.gallery-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    padding: 10px;
    scroll-snap-type: x mandatory;
}
.gallery-container img{
    width: 200px;
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
    scroll-snap-align: center;
}
.gallery-container::-webkit-scrollbar {
    height: 8px;
}
.gallery-container::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 2px;
}
.gallery-container::-webkit-scrollbar-thumb:hover{
    background: #ffff;
}

.gallery-container .box .btn{
  display: flex;
  justify-content: center;
  background: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
  width: 100px;
  align-items: center;
  position: relative;
  left: 30%;
  text-shadow: black;
}

.gallery-container .box .btn:hover{
  background: orange;
  color: white;
}

.gallery-container{
  text-align: center;
}
.txt1 h4{
  text-align: center;
  font-style: italic;
}
